$base-color: #121b22;
$base-red: #ff664d;
$fade-color: color 0.5s ease-in-out;
$fade-transition: transform 0.5s ease-in-out;

/* XL devices (default) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 100%;
  height: 120px;
  background-color: $base-color;
}

.navbar-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  color: white;
  font-weight: 400;
  font-size: 40px;
  cursor: pointer;
  transition: $fade-color;
}

.navbar-title:hover {
  color: $base-red;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  padding: 0 10px;
  text-decoration: none;
  font-size: 16px;
  transition: $fade-color;
}

.navbar-link:hover {
  color: $base-red;
}

.navbar-download-link {
  color: white;
  padding: 0 10px;
  text-decoration: none;
  font-size: 16px;
  transition: $fade-color;
}

.navbar-download-link:hover {
  color: $base-red;
}

.navigation-menu {
  filter: invert(1);
  width: 50px;
  display: none;
}

.mobile-nav {
  width: 100vw;
  height: 100vh;
  background-color: $base-color;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: $fade-transition;
  display: none;
}

.open {
  transform: translateX(0);
}

.mobile-nav-close-container {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: flex-end;
  padding: 0 10px;
}

.mobile-close-navbar {
  width: 60px;
  filter: invert(1);
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.mobile-nav-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 50px;
}

.mobile-nav-download-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

section {
  height: 100vh;
  background-color: $base-red;
}

/* Large devices */
@media only screen and (max-width: 1200px) {
  /* ...code... */
}

/* Medium devices */
@media only screen and (max-width: 992px) {
  /* ...code... */
}

/* Small devices */
@media only screen and (max-width: 768px) {
  .navbar-title {
    font-size: 35px;
  }

  .navbar-link {
    display: none;
  }

  .navbar-download-link {
    display: none;
  }

  .navigation-menu{
    display: flex;
  }

  .mobile-nav {
    display: block;
  }
}
